<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>password-helper</title>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script type="text/javascript" src="password-helper.js"></script>
  <script type="text/template" id="resultTemplate">
    <tr id="result-<%= password %>">
      <td class="password"><pre><%= password.toUpperCase() %></pre></td>
      <td class="total-likeness"><%= results._totalLikeness %></td>
      <td><input type="number" name="actual-likeness-<%= password %>"/></td>
    </tr>
  </script>
</head>
<body onload="initialize();">
  <h1>Fallout Password Helper</h1>
  <ol>
    <li>Type in all passwords, one per line.</li>
    <li>Press "Test Passwords"</li>
    <li>Passwords will be shown ranked, with the "best guess" at the top.</li>
    <li>Guess a password.</li>
    <li>Enter the resulting likeness score next to the password you guessed, and tab out of the input field.</li>
    <li>Any impossible passwords will be removed from the list, and the possible passwords will be rescored with best guess at the top.</li>
  </ol>
  
  <div>keep in mind this is a V1, I'm using it with very basic terminals, please send suggestions to me via email.</div>
    
  <form id="password-entry">
    <label>
      Passwords (1 Per Line)
      <textarea name="passwords" rows="20"></textarea>
    </label>
    <button type="submit">Test Passwords</button>
  </form>
  <table id="password-results">
  </table>
</body>
</html>