/* Global Resets */
* {
    margin: 0;
    padding: 0;
    position: relative;
}

ul {
    list-style: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

body {
    padding-top: 40px;
    width: 40em;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}
h1, h2, h3, h4, h5, h6, h7 {
    margin-top: 1em;
}

/* ============
  NAVIGATION
============ */

.nav {
    height: 2em;
    display: block;
}

.nav li {
    display: block;
    float: left;
}

.nav a {
    display: block;
    float: left;
    margin-right: 2em;
    font-size: 1.25em;
    line-height: 1;
    margin-top: .6em;  /* why does this work? */
    text-decoration: none;
}

.nav a.sub {
    font-size: 1em;
    margin-top: 1em;
    color: #a0a0a0;
}

/* ========
  CONTENT
======== */

.content {
    margin-top: 2em;
    font-size: .8em;
}

.posts {
    font-size: 1em;
}

/* ======
  POSTS  
====== */
.posts li span {
    font-size: .9em;
    margin-left: ;
}

.posts li a {
    text-decoration: none;
}

/*========
  FOOTER
======= */

.footer {
    margin-top: 2em;
    font-size: .8em;
    color: #606060;
}

.footer a:visited, .footer a:link {
    color: #606060;
}

.footer li > ul {
    margin-right: 2em;
    display: block;
    float: left;
}
