<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/static/core.css" type="text/css">
  <link rel="stylesheet" href="/static/pygments.css" type="text/css">
</head>


<body class="page-{{ page.nav_item }}">
  <header>
    <a href="/">
      <span>Pete</span>
      <span>Richards</span>
    </a>
    <ul id="navigation">
      <li>
        <a href="/resume.html"
           {% if page.nav_item == 'resume' %}class="active"{% endif %}>
          resume
        </a>
      </li>
      
    </ul>
  </header>