/* Design ideas:
* stick to rule of thirds for layout



/* Global Resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}


body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #333;
    padding-top: 40px;
    margin: 0 auto;    
    width: 720px;
}


a:visited, a:link {
    color: black;
    text-decoration: none;
}

/* ============
  NAVIGATION
============ */

header {
    height: 45px;
    width: 700px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: block;
    float: left;
}

header a {
    height: 27px;
    font-size: 27px;
    display: block;
    float: left;
    color: #a0a0a0;
    margin-left: 27px;
    top: 17px;
}

header li:first-child > a {
    height: 45px;
    font-size: 45px;
    margin-left: 0px;
    color: black;
    top: 0px;
}

/* resume CSS */


/* ========
  CONTENT
======== */

.content {
    margin-top: 2em;
    font-size: .8em;
    min-height: 20em;
    width: 100%;
}

h1, h2, h3 {
    font-weight: normal;
}

h2 {
    margin-bottom: 0;
}

h3 {
    font-style: italic;
    margin-top: 0;
}

.posts {
    font-size: 1em;
}

/* ======
  POSTS  
====== */
.posts li span {
    font-size: .9em;
    margin-left: ;
}

.posts li a {
    text-decoration: none;
}

/*========
  FOOTER
======= */

footer {
    margin-top: 18px;
    font-size: 13px;
    color: #606060;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a:visited, .footer a:link {
    color: #606060;
}

footer li > ul {
    margin-right: 27px;
    display: block;
    float: left;
}
