/* 

# Preface:

If you're reading this, and you're a designer, I'd love your feedback.  Most of
what I know I have learned from photography and from my room mate.  The actual
design of this site evolved over time and the design ideas (below) were not
something I determined up front.

Ideas?  Contact me at pete@pete-richards.com.


# Guidelines:

* stick to rule of thirds for layout, so use a 3 column grid (of sorts)
* keep a simple hierarchy
* header and footer counterbalance content.
* content is organized into sections, containing a title, and one or more
  divs of content.
* use color very sparingly-- accents only.

*/

/* ============================================================================
    Global Resets
============================================================================ */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

ul {
    list-style: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    margin: 0 auto;    
    width: 960px;
    /* poll for any designers: does this look better "A:" */
    padding-top: 40px;
    padding-bottom: 40px;
    /* or "B:" 
    padding-top: 0px;
    padding-bottom: 0px; */
}

/* ============================================================================
    Grid System:  The grid classes exist for when I experiment.  
    Everything on the live site is optimized for clean html markup.
============================================================================ */

.grid_1, .grid_2, .grid_3, 
header > a, header > ul,
section > h1, section > div,
footer > ul {
    display: inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.alpha, 
header > a, 
section > h1 {
    margin-left: 0px;
}

.omega, 
header > ul, 
section > div {
    margin-right: 0px;
}

.grid_1, 
header > a, 
section > h1 {
    width: 300px;
}
.grid_2, 
header > ul, 
section > div {
    width: 620px;
}
.grid_3, 
footer > ul {
    width: 960px;
    margin-left: 0px;
    margin-right: 0px;
}


/* ============================================================================
    Navigation: Header and Footer
============================================================================ */

header > a {
    font-size: 45px;
    line-height: 45px;
    color: #CCC;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    background: #000;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 40px;
}

header ul li {
    float: right;
}

header ul li a {
    display: block;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 67px;
    color: #000;
    text-decoration: none;
}

header ul li a.active, header ul li a:hover {
    background: #000;
    color: #ccc;
}

/* ============================================================================
  FOOTER
============================================================================ */

footer li {
    float: right;
    clear: right;
}

footer li::after {
    content: '\0000a0';
    color: #fff;
    border-right: 4px solid #fcf;
}

footer a:visited,
footer a:link {
    color: #606060;
    text-decoration: none;
}


/* ============================================================================
    Home Page CSS-- Simple!
============================================================================ */

#space_taker_upper {
    padding: 140px 20px;
}

#space_taker_upper > h1 {
    font-weight: normal;
    font-size: 45px;
    line-height: 63px;
}

#space_taker_upper > h2 {
    font-weight: normal;
    font-size: 21px;
    clear: both;
    margin-left: 20px;
}

/* ============================================================================
    Content: Sections and Cards
============================================================================ */

section {
    border-top: 2px solid #ccc;
    display: block;
    margin-bottom: 40px;
}

section:first-of-type {
    margin-top: 40px;
}

/* section header is an h1 inside the section */

section > h1 {
    font-size: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    background: #ccc;
}

/* despite grid system, cards float right.  This allows a single section to
have multiple cards. */

section > div {
    float: right;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}

section > div ul li::before {
    content: '\0000a0';
    color: #fff;
    border-left: 4px solid #fcf;
}

section > div > h2 {
    font-size: 27px;
    font-style: normal;
    font-weight: normal;
}

section > div > h2 > a {
    text-decoration: none;
    color: #000;
}

section > div > h2 em {
    font-size: 21px;
    color: #ccc;
    position: absolute;
    right: 0px;
    top: 2px;
}

section > div > h3 {
    margin-top: 5px;
}

section > div > h3 em {
    color: #ccc;
    position: absolute;
    font-weight: normal;
    right: 0px;
}

section > div > p {
    padding-top: 10px;
}

section > div p:first-child {
    padding-top: 0px;
    margin-bottom: 10px;
}

section > div:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

section > div *:last-child {
    margin-bottom: 20px;
}

section > div:last-child *:last-child{
    margin-bottom: 0px;
}

/* ============================================================================
    Blog:  wondering where this is?  It's hidden due to inactivity.
    secretly, you can find it here: pete-richards.com/blog.html
============================================================================ */

blockquote {
    border-left: 4px solid #fcf;
    padding-left: 16px;
    font-style: italic;
    margin-top: 1em;
}

blockquote p {
    padding-top: 0px;
}

/* ============================================================================
    Print:  at some point I'll make a separate stylesheet for printing.  For
    now, this should fix page breaks.
============================================================================ */
@media print{
    #freelance > h2 {
        page-break-before: always;
    }
    header > ul {
        display: none;
    }
}


/* ============================================================================
    Clearfixes:  I didn't write these, sources are noted.
============================================================================ */

/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */

header:before,
header:after,
footer:before,
footer:after,
section:before,
section:after,
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

header:after,
footer:after,
section:after, 
.clearfix:after {
  clear: both;
}

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
header,
footer,
section,
.clearfix {
  zoom: 1;
}
