<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/static/core.css" type="text/css">
	{% if page.extra_css %}
	{% assign extras = page.extra_css|split:' ' %}{% for extra in extras %}
	<link rel="stylesheet" href="/static/{{extra}}" type="text/css">{% endfor %}
	{% endif %}
</head>

<body>
	<header class="clearfix">
		<p id='my_name'>
			<a href="/">Pete Richards</a>
		</p>
		<div class="grid_2 omega">
			<ul id="navigation">
				<li><a href="/resume.html"{% if page.nav_item == 'resume' %} class="active"{% endif %}>resume</a></li>
				<li><a href="/blog.html"{% if page.nav_item == 'blog' %} class="active"{% endif %}>blog</a></li>
			</ul>
		</div>
	</header>
  
	{{ content }}
  
	<footer class="clearfix">
		<div class="grid_3">
			<ul>
				<li><a href="mailto:pete@pete-richards.com">pete@pete-richards.com</a></li>
				<li><a href="http://www.github.com/larkin">github.com/larkin</a></li>        
				<li><a href="http://www.twitter.com/larkinrichards">@larkinrichards</a></li>	        
			</ul>
		</div>
	</footer>
	
	<!-- Google Analytics Snippet -->
	{% include ga_snippet.html %}
</body>